.wrapper {
    min-width: 0;
    flex-grow: 1;
    flex: 1;
    height: 100%;
    background-color: darkcyan;
    border: 1px solid white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: lightseagreen;
        cursor: pointer;
    }
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper img {
    width: 60%;
    height: 60%;
}

.footer {
    //height: 20%;
    width: 100%;

    text-align: center;
    font-size: 12px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    flex-shrink: 0;  
}