.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.title {
    color: white;
    margin-right: 1vh;
    background-color: #476d6c;
    padding: 1.5vh;
    border-radius: 16px;
}