.wrapper {
    width: 5%;
    height: 100%;
    background-color: darkcyan;
    border: 1px solid white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: lightseagreen;
        cursor: pointer;
    }
    position: relative;
}

.wrapper img {
    width: 100%;
    height: 100%;
}