.wrapper {
    position: absolute;
    width: 15%;
    height: 20%;
}

.close {
    background-color: darkcyan;
    border: 1px solid white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    &:hover {
        background-color: lightseagreen;
        cursor: pointer;
    }
    position: absolute;
    width: 25%;
    height: 25%;
    z-index: 1001;
    left: 0;
    top: -25%;
    padding: 0;
    margin: 0;
}

.textarea {
    background-color: "white";
    color: "#000";
    position: absolute;
    width: 200px;
    height: 100px;
    padding: 16px;
    border: 1px solid #333;
    border-radius: 16px;
    overflow: auto;
    resize: both; 
    z-index: 1000;
}