.wrapper {
    color: white;
    flex: 1 1 0px;
    background-color: transparent;
    display: flex;
    gap: 2%;
    border-radius: 16px;
    margin-bottom: 8px;
    border: 1px solid grey;
}

.label {
    display: flex;
    justify-content: end;
    align-items: center;
    color: black;
    flex: 1 1 0px
}

.select {
    border-radius: 16px;
    padding: 16px;
    padding-right: 24px;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    color: white;
    flex: 5 1 0px;
    display: flex;
    gap: 2%;
}

.option {
    background-color: darkcyan;
    color: white;
    font-size: 1rem;
    border-radius: 16px;
    padding: 10px;
    display: flex;
    flex: 1 1 0px;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: lightseagreen;
        cursor: pointer;
    }
}
