.note {
  max-width: 140px;
  max-height: 60px;

  padding: 6px 8px;

  background: #fff7a8;
  border: 1px solid #333;
  border-radius: 6px;
  scrollbar-color:#333 #fff7a8;

  font-size: 12px;
  color: #333;
  line-height: 1.3;

  overflow: auto;
  word-break: break-word;
  white-space: pre-wrap;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  cursor: default;
}
