.wrapper {
    width: 100%;
    flex: 1 1 0px;
    color: darkcyan;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.label {
    font-size: medium;
    font-weight: bold;
    flex: 1 1 0px;
}

.value {
    flex: 1 1 0px;
}