.wrapper {
    border: 1px solid darkgreen;
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #d88488;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: 0.8rem;
}